---
import Layout from '../layouts/Layout.astro';
---

<Layout title="New Page">
  <main>
    <h1>New Page</h1>
    <p>
      <a href="/">Back to Main Page</a>
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
